.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80vw;
  margin: auto;
  background-color: black;
}
h1{
  width:18vw;
  color: aliceblue;
  height: 15vh;
  display: flex;
  align-items: center;
}